target/
.project
.classpath
.settings
.factorypath
.openshift-applier/roles/
#Intellij
.idea/
*.iml
#Mac
.DS_Store
.openshift-applier/.DS_Store
src/test/resources/.DS_Store
/.apt_generated/
/.apt_generated_tests/
#vscode
.vscode/
.sts4-cache/
META-INF/
bin/